<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Edit User</title>
</head>
<body>
    <div class="container pt-5">
        <h1>Edit User {{user.id[0]}}</h1>
        <form action="/edit_user" method="POST">
            <input type="hidden" name="id" value="{{user.id[0]}}">
            <label class="form-label">First Name: </label>
            <br>
            <input type="text" name="first_name" class="form-control" placeholder="{{user.first_name[0]}}">
            <br>
            <label class="form-label">Last Name: </label>
            <br>
            <input type="text" name="last_name" class="form-select" placeholder="{{user.last_name[0]}}">
            <br>
            <label class="form-label">Email: </label>
            <br>
            <input type="email" name="email" class="form-select" placeholder="{{user.email[0]}}">
            <br>
            <button class="btn btn-primary mb-3">Update</button>
        </form>
        <a href="/users">Home</a>
    </div>
</body>
</html>