<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>TV Shows</title>
</head>

<body>
    <div class="container" style="margin: 30px 250px; ">
        <h1>{{user.first_name}} {{user.last_name}}!</h1>
        <a href="/shows/new" style="margin-left: 900px; margin-right: 90px;">+ Create</a>
        <a href="/logout">logout</a>

        <h3>All TV Shows:</h3>

        <table class="table ">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Network</th>
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
            </tr>
            {% for show in all_shows %}
            <tr>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td>
                    <a href="/shows/show/{{show.id}}">Show </a>
                    {% if show.user_id == user.id%}
                    <a href="/shows/edit/{{show.id}}">| Edit | </a>
                    <a href="/shows/delete/{{show.id}}">Delete</a>
                    {% endif%}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>